<MudStack Spacing="16">
    <div class="feature-title">
        <MudGrid Justify="Justify.Center">
            <MudItem xs="10">
                <MudChip T="string" Icon="@Icons.Material.Rounded.Article" Size="Size.Large"
                    Variant="Variant.Text" Href="/studyguide" style=@($"color: {Color};")><b>Study Guides</b></MudChip>
            </MudItem>
            <MudFlexBreak />
            <MudItem xs="10" Class="mb-8">
                <MudText Typo="Typo.h2" Align="Align.Left"><b>Transform hours of preparation into seconds.</b></MudText>
                <MudText Typo="Typo.h6" Align="Align.Left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Praesent nisi nisi, laoreet eget accumsan eu, egestas vitae sapien. 
                    In efficitur congue ante.</MudText>
            </MudItem>
            <MudFlexBreak />
        </MudGrid>
    </div>
    
    <div class="feature-paragraph">
        <StudyGuideParagraph Color="@Color"  ImgSrc="home-page/example.jpg"
            Title="Follow bite-sized steps. In your way" 
            Content="Lorem ipsum dolor sit amet, **consectetur adipiscing elit.**
                    Praesent nisi nisi, laoreet eget accumsan eu, egestas vitae sapien. In efficitur congue ante." />
    </div>

    <div class="feature-paragraph">
        <StudyGuideParagraph Color="@Color"  ImgSrc="home-page/example.jpg"
            Alignment="StudyGuideParagraph.ParagraphAlign.Right" Title="Focus on the real work." 
            Content="Lorem ipsum dolor sit amet, **consectetur** adipiscing elit.
                    Praesent nisi nisi, laoreet eget accumsan eu, **egestas vitae sapien**. In efficitur congue ante."
                    BulletPoints="@_sectionsBulletPoints" />
    </div>

    <div class="feature-paragraph">
        <StudyGuideParagraph Color="@Color"  ImgSrc="home-page/example.jpg"
            Alignment="StudyGuideParagraph.ParagraphAlign.Center" Title="Focus on the real work." 
            Content="Lorem ipsum dolor sit amet, **consectetur** adipiscing elit.
                    Praesent nisi nisi, laoreet eget accumsan eu, **egestas vitae sapien**. In efficitur congue ante."
                    BulletPoints="@_sectionsBulletPoints" />
    </div>
    
    <MudGrid Justify="Justify.Center">
        <MudItem xs="10">
            <MudText Typo="Typo.h6" Align="Align.Center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sodales mauris in finibus ultrices. Cras bibendum risus non euismod semper. In quis neque eu ipsum maximus tempus. Duis tincidunt pretium aliquam. Vivamus sed turpis cursus eros tristique dignissim eu id orci. Sed ipsum erat, tempus eu turpis at, ornare ullamcorper diam. In fringilla leo ante, ut dignissim massa blandit sit amet. Integer efficitur odio arcu, ut tincidunt nulla sagittis nec. Aenean porttitor auctor arcu. Proin vel consectetur nisi.

                Nulla facilisi. Cras et faucibus leo. Sed vitae libero congue, tempus nisl sit amet, varius lectus. Donec quis elit varius, dignissim nibh in, malesuada nulla. Mauris eget arcu erat. Integer vel magna ullamcorper urna tempus condimentum vitae ut massa. Donec sed lectus efficitur, facilisis nisi nec, porta justo. Praesent a efficitur tortor, eget malesuada metus. Duis imperdiet dapibus eros, in dapibus sem vehicula nec. Etiam porta, dolor sed sagittis laoreet, mi velit venenatis tellus, vel pretium magna tellus vitae nisi.

                Donec sodales purus vitae arcu faucibus, nec iaculis arcu interdum. Mauris finibus, velit ut consequat ultrices, urna purus facilisis erat, ac maximus libero urna vel lacus. Sed ultricies in dui id finibus. Curabitur justo odio, tincidunt ac mollis vitae, imperdiet a nulla. In hac habitasse platea dictumst. Quisque finibus massa eget luctus ultrices. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam egestas in felis vitae condimentum. Aenean vitae dolor vehicula, dictum lacus ac, fermentum tortor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec eleifend facilisis sodales. Vivamus ornare, nisl vitae rutrum fermentum, sem neque auctor leo, sed faucibus lorem magna sit amet odio. Donec vel enim nisi. Quisque orci purus, interdum vitae magna quis, fringilla mattis ex. Proin dapibus tincidunt nisl fringilla ultrices. Donec et porttitor risus.

                Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut tempor erat ut nisi auctor, sit amet interdum est mollis. Integer in facilisis justo. Praesent rutrum nec nisi sit amet placerat. Nullam pretium ante eget eros elementum, quis gravida sapien aliquet. Curabitur cursus id elit maximus ornare. Cras enim nisl, consectetur aliquet bibendum in, vestibulum quis orci. Ut et scelerisque nibh. In quis vulputate nibh, in hendrerit dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Cras facilisis sapien et purus tincidunt, convallis aliquam ligula sollicitudin. Donec vitae molestie sem, et efficitur est. Ut et porta neque.

                Nunc sed malesuada ligula. Suspendisse venenatis vitae risus id vulputate. Nullam sed justo elementum, facilisis felis sit amet, auctor sem. Ut ornare tempor libero eu fermentum. Donec vestibulum sem at ligula lobortis, sit amet laoreet eros facilisis. Etiam sit amet erat dui. Duis sagittis metus eget ante sagittis interdum. Quisque eget nibh at lorem venenatis dapibus. Pellentesque accumsan at justo id pretium. Mauris euismod a lectus ut venenatis. Quisque convallis dolor eu rutrum accumsan. Praesent sit amet porta metus. Sed fringilla varius ornare. Cras elementum venenatis turpis vel accumsan. Donec aliquet egestas varius. Aenean mattis mollis fermentum.

                Nullam aliquet rutrum lectus, sed mollis lacus egestas vitae. Etiam tristique erat in neque fringilla tempor. Suspendisse fringilla dictum tellus, a aliquam orci pretium rutrum. Duis gravida diam eget augue ultricies, nec condimentum sapien aliquam. Maecenas euismod pharetra vestibulum. Integer ante ex, cursus vitae finibus non, accumsan eget turpis. Donec eget sagittis tellus. Praesent sollicitudin pulvinar suscipit. Mauris semper eget libero eget dignissim. Vestibulum varius odio a ipsum vulputate tempor ut eget nisl.

                Sed dapibus mattis gravida. Suspendisse imperdiet elementum magna at tempor. Sed dignissim dui blandit dapibus tincidunt. Aenean porta nisl dui, sed laoreet orci auctor ut. Praesent diam eros, condimentum sed consequat non, volutpat a metus. Suspendisse egestas interdum libero non volutpat. Praesent a erat vehicula, egestas elit ut, efficitur neque.

                Morbi ornare nisi leo. Vestibulum eu placerat nisi. Sed pulvinar lectus at nibh interdum, in luctus nisl mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer bibendum scelerisque mauris vel auctor. Etiam vel feugiat massa. Duis laoreet, nulla quis imperdiet viverra, mi massa feugiat orci, ac eleifend erat dui eu lectus. Pellentesque vel mattis massa. Aliquam mauris enim, imperdiet at tempus et, vehicula eu leo.

                Aliquam in bibendum magna, at consectetur arcu. Phasellus ac faucibus purus. Sed in est venenatis, rhoncus urna sed, lobortis magna. Nulla pellentesque sem nisi, eget commodo nisi sagittis vitae. Nunc pretium placerat neque, eget blandit orci pharetra sed. Vestibulum volutpat consequat augue. Maecenas lobortis et neque sed pulvinar. Vivamus vel lorem lobortis, auctor turpis non, placerat metus. Proin id tortor eu ante cursus molestie. Maecenas malesuada tortor non metus placerat tincidunt.

                Curabitur erat ex, laoreet viverra velit quis, sagittis eleifend lorem. Proin vitae velit sit amet tortor molestie ultricies nec eu nisl. Nunc vel vestibulum augue. Sed vehicula, nibh a fermentum feugiat, augue tellus tincidunt neque, ac laoreet sem mauris quis tellus. Nulla egestas consectetur nunc a tincidunt. Suspendisse auctor faucibus consequat. Morbi sit amet leo non ligula aliquam sollicitudin. Fusce egestas mi in tincidunt laoreet. Donec sit amet fringilla diam. In sed felis hendrerit nisl consequat vehicula. Suspendisse egestas sagittis congue. Cras vel enim gravida augue bibendum dictum et at ligula. In egestas elit vel sapien sagittis mollis. 
            </MudText>
        </MudItem>
    </MudGrid>
</MudStack>



@code {
    [Parameter] public String Color { get; set; } = Colors.Pink.Accent2;
    [Parameter] public String TextColor { get; set; } = Colors.Shades.Black;

    List<String> _sectionsBulletPoints = new(){
        "Sections",
        "References",
        "Quick-Start"};
}